<?xml version="1.0" encoding="UTF-8"?>
<root>
  <item name="android.media.ApplicationMediaCapabilities boolean isHdrTypeSupported(java.lang.String) 0">
    <annotation name="androidx.annotation.StringDef">
      <val name="va